body {
  box-sizing: border-box;
  padding: 2%;
}
#main-container {
  background-color: rgb(171, 172, 205);
  border: 3px solid black;
  padding: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
#page-title {
  height: 150px;
}
.header-main-footer {
  width: 90%;
  border: 2px solid black;
  margin: 1%;
  border-radius: 20px;
  padding: 1.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#page-title,
#student-information {
  background-color: aquamarine;
}
#main-section {
  height: 500px;
  background-color: rgb(26, 9, 9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
#form-article {
  height: 50%;
  background-color: rgb(197, 201, 200);
  width: 95%;
  margin-bottom: 0.5%;
  border-radius: 20px;
  padding: 2%;
}
#table-article {
  height: 50%;
  display: flex;
  justify-content: center;
  width: 95%;
  background-color: rgb(86, 158, 140);
  border-radius: 20px;
  padding: 2%;
  max-height: fit-content;
  overflow: auto;
}
form {
  background-color: rgb(159, 189, 122);
  padding: 1%;
  height: 90%;
}
fieldset {
  display: flex;
  flex-direction: column;
  padding: 1%;
  height: 85%;
}
.fields-buttons {
  height: 80%;
  border: black 1px solid;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  border-radius: 15px;
}

#conversions {
  margin-bottom: 0.5%;
}
#conversions > label,
#conversions > select {
  width: 20%;
  margin: 10px;
}
table {
  border-collapse: collapse;
  width: 70%;
}
table th {
  background-color: rgb(2, 58, 2);
  color: white;
  padding: 4px;
  border: 2px solid black;
}
table td {
  border: 2px solid black;
  padding: 4px;
  width: 15px;
}
table tr:nth-child(even) {
  background-color: white;
}
table tr:nth-child(odd) {
  background-color: rgb(112, 107, 107);
}
button {
  font-size: 12pt;
  padding: 1%;
  width: 15%;
  color: white;
  background-color: blue;
  margin: 5px 0 5px 0;
  border-radius: 10px;
}
button:hover {
  box-shadow: 5px 5px 10px black;
}

#project-title {
  width: 70%;
  text-align: center;
  font-weight: bolder;
  font-size: 26pt;
}
#web-dev-class {
  width: 50%;
  font-size: 15pt;
  font-weight: bold;
  text-align: center;
}
